.bat {
    width: 200px;
    height: 100px;
    background-color: black;
    border-radius: 50% / 100%;
    position: relative;
  }
  
  .body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .head {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: relative;
  }
  
  .ear {
    width: 10px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: -10px;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .eye {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 20px;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }
  
  .nose {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 20px;
  }
  
  .mouth {
      height: 5px;
    width: 20px;
    background-color: black;
    position: absolute;
    top: 45px;
    left: 15px;
    transform: rotate(45deg);
  }
  
  .wing {
    width: 70px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 40%;
    transform-origin: right;
    transform: skew(-20deg);
  }
  
  .left {
    left: -10px;
    transform-origin: left;
    transform: skew(20deg);
  }
  
  .right {
    right: -10px;
  }
  
  .tail {
      height: 20px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 70%;
    left: -20px;
    transform-origin: bottom right;
    transform: rotate(-45deg);
  }
  